includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/
        - config/
        - database/
         - routes/

    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
